<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
<h1>Register as a Booking Agent</h1>
<form action="/registerAgentAuth" method="POST">
	<input type="email" name="email" placeholder="email"> <br>
	<input type="password" name="password" placeholder="password"> <br>
	<input type="number" name="agentID" placeholder="booking agent id"> <br> <br>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
	<input type="submit" value="Register as Booking Agent"> <br>
</form>

<a href="/register">Back to register page</a>